
<div class="container">
  
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">            
            <div class="thumbnail">
                <div class="caption">
                    <h2>AGT</h2>
                    <h4> short thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail 
                     descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail descriptionshort thumbnail description</h4>
                    
                </div>
                <%=image_tag"telent.jpg"%>
            </div>
        </div>
      
 </div>       