<h2><center style="color:#FF00CC">ABOUT AHMEDABAD'S GOT TALENT</center></h2>

</br>
</br>
<h4>
    

   <p> After a successful stint last year, We are back with Ahmedabad's Got Talent-2. This is the grand platform for all amdavadis to show their talent. If you think you have any of the unique talents whether it is dancing, singing, painting, cooking, wrestling or anything, this is truely for you. Come, Show your hidden talents, get chance to meet our judges & win exciting prizes. </p> </br>

    <p>If your age is 10years or more , you can register with us. Dont hesitate, dont feel shy, if you are male, female, 10 years old or 80 years old, no problem.If you are talented and confident you are welcomed here.Find our talent events organized all over the city in our EVENT tab.  </p> </br>
    


   <p> The Grand Finale will be organized in August end, after all these events. All the finalists will be called in the Finale. And unlike all other reality hunts, we will announce winners from all the sections which we would select to be there in the hunt (e.g poetry, music, mimicry etc), therefore we dont have only one winner. From all the selected sections we will have one winner.</p> </br>



    <p> So, What are you thinking? Join our talent marathon & Register your self now. </p>


</h4>