<h1><center style="color:#FF00CC">EVENTS</center></h1>



</br>
</br>
<table class="table">
  <col width="130">
  <col width="130">
  <col width="130">
   <col width="130">
   <col width="130">
   <caption>
   </caption>
   <thead>
      <tr>
         <th>Date</th>
         <th>Suburb</th>
         <th>Venue</th>
         <th>Time</th>
         <th>Judges</th>
      </tr>
   </thead>
   <tbody>
      <tr class="active">
         <td>29th june 2014</td>
         <td>Satellite</td>
         <td>Ground Floor, Shivranjani plaza, Shivranjani Cross Roads</td>
         <td>4 pm onwards</td>
         <td>Mrs Geeta Kapoor & Mr.Ahmed Khan</td>
      </tr>
      <tr class="active">
         <td>6th July 2014</td>
         <td>Ambavadi</td>
         <td>#rd Floor, Bhagvati Chambers, Near polytechnic</td>
         <td>4 pm onwards</td>
         <td>Mrs Kirron Kher & Mrs Madhuri dixit</td>
      </tr>
      <tr  class="active">
         <td>13th July 2014</td>
         <td>C.G.Road</td>
         <td>5th floor, Samudra Arcade, Opp. Prime Dine</td>
         <td>4 pm Onwards</td>
         <td>Mr. Terrance Lauren & Mr. Remo desuza</td>
      </tr>
      <tr class="active">
         <td>20th July 2014</td>
         <td>S.G. Highway</td>
         <td>1st Floor, Sharnam Plaza</td>
         <td>4 pm Onwards</td>
         <td>Mr. Amitabh Bacchan & Miss Neha Jani</td>
      </tr>

      <tr class="active">
         <td>27th July 2014</td>
         <td>Anjali</td>
         <td>Anjali stadium</td>
         <td>4 pm Onwards</td>
         <td>Mrs. Kareena Kapoor & Mrs. Mr. Sneh Pandya</td>
      </tr>

      <tr class="active">
         <td>3rd August 2014</td>
         <td>Maninagar</td>
         <td>1st floor, Rock Regency Tower</td>
         <td>4 pm Onwards</td>
         <td>Mr. Aamir Khan & Mrs. Kajol</td>
      </tr>
   </tbody>
</table>

<h3><center><span style="color:#00FF00;font-weight:bold">GRAND</span><span style="color:#00FF00;font-weight:bold"> FINALE</span><span style="color:#00FF00;font-weight:bold"> IN AUGUST 2014</span></center> </h3>


