<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <%= image_tag "boy1.jpg"%>
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="fa fa-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="fa fa-envelope"></i> masterwayne@batman.com
                <br
                /> <i class="fa fa-globe"></i> www.bootsnipp.com
                <br /> <i class="fa fa-gift"></i> January 30, 1974</p>
        </div>
        