<center><h1 style="color:#FF00CC">AHMEDABAD'S GOT TALENT</h1></center>
</br>

<div class="row">
	<div class="span3">
		<img src="/assets/painting.jpg" class="img1">

	</div>
	
	<div class="span9">
		<h4>
			Painting Is The Silence Of Thoughts And The Music Of Sight </br> </br>- Orhan Pamuk
		</h4>
		
	</div>

</div>

<div>

</div>

<HR>
	<div class="row">
	<div class="span9">
		<h4>
			Singing Is My Life And It's What I Live For </br> </br>
			- John Rowls
		</h4>
		
	</div>

	<div class="span3">
		<img src="/assets/SingingChildren.gif" class="img1">
	</div>
</div>
</HR>

<HR>
	<div class="row">
	<div class="span3">
		<img src="/assets/dance1.jpg" class="img1">
		
	</div>

	<div class="span9">
		<h4>Dance Is The Hidden Language Of The Soul </br> </br>
			- M. Grahm
		</h4>
	</div>
</div>
</HR>

<HR>
	<div class="row">
	<div class="span9">
		<h4>
			A Recipe Has No Soul, You As The Cook Must Bring Soul To The Recipe </br> </br>
			- Thomas Keller
		</h4>
		
	</div>

	<div class="span3">
		<img src="/assets/cook.jpg" class="img1">
		
	</div>
</div>
</HR>


<HR>
	<div class="row">
	<div class="span3">
		
		<img src="/assets/poetry.gif" class="img1">
	</div>
	
	<div class="span9">
		<h4>A Poet Is, Before Anything Else A Person Who Is Passionately In Love With </br>Language</br> </br>
			- W.H. Auden</h4>
	</div>
</div>
</HR>
<HR>
	<div class="row">
	<div class= "span9">
		<h4>Talent Is Like A Flower , You Have To Fully Tend To It, If You Want Something </br>Beautiful	</br> </br>
			- Marinela Reka</h4>


	</div>

	<div class="span3">
		<img src="/assets/what.jpg" class="img1">
	</div>

</div>
</HR>