<h1 style="color:#F5DEB3">Ahmedabad's <f style="color:#F5DEB3"> Got </k> <r style="color:#F5DEB3">Talent</h1>
<h4 style="color:white">
	Guys, we are back with lot of entertainment and talent. The tsunami of talents... so what are you waiting for.....??? Show us what you got...</br>Rock On... Once Again....</h4>
<div class="container">
	<center><%=image_tag "telent.jpg"%></center>

</div>
